<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    xmlns 即 xml namespace xml 使用的命名空间
    xmlns:xsi 即 xml schema instance xml 遵守的具体规范
    xsi:schemaLocation 本文档 xml 遵守的规范 官方指定
    利用maven管理spring工程：
    1. 第一步，先创建一个简单maven项目（quikstart工程）
    2. 在pom文件中添加spring框架依赖配置（即引入spring框架所需的jar包）
    3. 创建所需的bean 和 service
    4. 添加spring配置文件：spring.xml （位置必须在/src/main/resources目录下），并添加Bean配置
    5. 编写测试类，进行测试

    -->

    <bean id="userDao" class="com.ddq.dao.UserDao"></bean>
    <bean id="helloService" class="com.ddq.service.HelloService"></bean>

</beans>